
data-binary-api/BinaryApiESB/target

data-binary-api/BinaryApiESB/target/capp/pom.xml

data-binary-api/BinaryApiESB/target/capp/artifacts/api/YuccaUploadFile/YuccaUploadFile.xml

*.war
metadata-api/.settings/org.eclipse.wst.jsdt.ui.superType.name
metadata-api/.settings/org.eclipse.wst.jsdt.ui.superType.container
metadata-api/.settings/org.eclipse.wst.common.project.facet.core.xml
metadata-api/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
metadata-api/.settings/org.eclipse.wst.common.component
metadata-api/.settings/.jsdtscope
insertdata-api/.settings/org.eclipse.wst.jsdt.ui.superType.name
insertdata-api/.settings/org.eclipse.wst.jsdt.ui.superType.container
insertdata-api/.settings/org.eclipse.wst.common.project.facet.core.xml
insertdata-api/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
insertdata-api/.settings/org.eclipse.wst.common.component
insertdata-api/.settings/.jsdtscope
data-api/.settings/org.eclipse.m2e.core.prefs
data-api/.settings/org.eclipse.core.resources.prefs
binary-api/.settings/org.eclipse.wst.validation.prefs
binary-api/.settings/org.eclipse.wst.common.project.facet.core.xml
binary-api/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
binary-api/.settings/org.eclipse.wst.common.component
binary-api/.settings/org.eclipse.m2e.core.prefs
binary-api/.settings/org.eclipse.jdt.core.prefs
binary-api/.settings/org.eclipse.core.resources.prefs
admindb/.settings/org.eclipse.m2e.core.prefs
admindb/.settings/org.eclipse.jdt.core.prefs
admindb/.project
admindb/.gitignore
admindb/.classpath
/insert-api-kafka/target/classes/META-INF/MANIFEST.MF
/insert-api-kafka/target/classes/META-INF/maven/org.csi.yucca/insert-api-kafka/pom.properties
/insert-api-kafka/target/classes/META-INF/maven/org.csi.yucca/insert-api-kafka/pom.xml
/insert-api-kafka/target/classes/avro.schema
/insert-api-kafka/target/classes/org/csi/yucca/insertapi/config/DarwinConfig.class
/insert-api-kafka/target/classes/org/csi/yucca/insertapi/config/KafkaConfig.class
/insert-api-kafka/target/classes/org/csi/yucca/insertapi/models/YuccaMessage$Builder.class
/insert-api-kafka/target/classes/org/csi/yucca/insertapi/models/YuccaMessage.class
/insert-api-kafka/target/classes/org/csi/yucca/insertapi/producer/KafkaWriter.class
/insert-api-kafka/target/classes/org/csi/yucca/insertapi/producer/KafkaWriterImpl.class
/insert-api-kafka/target/insert-api-kafka-0.5.0-SNAPSHOT.jar
/insert-api-kafka/target/maven-archiver/pom.properties
/insert-api-kafka/target/surefire-reports/TEST-org.csi.yucca.insertapi.producer.KafkaWriterImplTest.xml
/insert-api-kafka/target/surefire-reports/org.csi.yucca.insertapi.producer.KafkaWriterImplTest.txt
/insert-api-kafka/target/test-classes/org/csi/yucca/insertapi/producer/KafkaWriterImplTest.class

/pom-csi.xml
